body {
    background-color: beige;
}

#bar3 {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    background-color: white;                 
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.logo-container {
    display: flex;      
    align-items: center;   
    gap: 15px;             
}

.logo {
    width: 50px;
    height: auto;
}

#main-nav {
    background-color: orange;
    text-align: center;
}
#main-nav li {
    display: inline-block;
    position: relative;
    padding: 10px;
}

#main-nav li:hover {
    background-color: blanchedalmond;
    color: white;
}
#main-nav ul ul {
    display: none;
    position: absolute;
}
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;}